.main-body {
  background-color: #212121;
  color: #e2e1e1;
}

.link-no-style {
    color: inherit;
    text-decoration: inherit;
  }
  
.link-no-style:link {
color: inherit;
text-decoration: inherit;
}

.link-no-style:hover {
color: inherit;
text-decoration: inherit;
}