.link-no-style {
    color: inherit;
    text-decoration: inherit;
  }
  
.link-no-style:link {
color: inherit;
text-decoration: inherit;
}

.link-no-style:hover {
color: inherit;
text-decoration: inherit;
}